{% extends 'layouts/base.html' %}
{% load static %}
{% block PageTitle %} Book Details {% endblock %}
{% block Title %} Books {% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <img src="{{ book.get_absolute_url }}" class="card-img-top" alt="Book Image">
        <div class="card-body">
          <h5 class="card-title">{{book.title}}</h5>
          <p class="card-text">{{book.author}}</p>
          <p class="card-text">{{book.no_of_pages}}</p>
          <p class="card-text">{{book.price}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
