{% extends 'layouts/base.html' %}
{% block PageTitle %} Home {% endblock %}
{% block Title %} Books {% endblock %}

{% block content %}
<div class="container">
    <h2>Add New Book</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
{#        <div class="form-group">#}
{#            <label for="id">Book:</label>#}
{#            <input type="text" disabled class="form-control" id="id" name="id" value="{{ book.id }}">#}
{#        </div>#}
{##}
{#        <div class="form-group">#}
{#            <label for="title">Title:</label>#}
{#            <input type="text" class="form-control" id="title" name="title" value="{{ book.title }}">#}
{#        </div>#}
{##}
{#        <div class="form-group">#}
{#            <label for="no_of_pages">Number of Pages:</label>#}
{#            <input type="number" class="form-control" id="no_of_pages" value="{{ book.no_of_pages }}" name="no_of_pages">#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="author">Author:</label>#}
{#            <input type="text" class="form-control" id="author" name="author" value="{{ book.author }}">#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="price">Price:</label>#}
{#            <input type="number" step="0.01" class="form-control" id="price" name="price" value="{{ book.price }}">#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="image">Image:</label>#}
{#            <input type="file" class="form-control-file" id="image" name="image">#}
{#        </div>#}
{#        <img style="width: 100px ; height: 100px " src="{{ book.get_absolute_url }}">#}
            {{ form }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
